.custom-tooltip {
    position: relative;
    display: inline-block;
    padding: 3px;
    border-bottom: 1px dotted black;
  }
  
.custom-tooltip .custom-tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 6px;
    font-size: small;
    font-style: normal;
    font-weight: normal;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.custom-tooltip:hover .custom-tooltiptext {
    visibility: visible;
  }


.custom-invalid-feedback {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 0.875em;
    color: #dc3545;
}